.centered {
    margin: 0 auto;
    padding: 0 1em;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    flex: 0 1 15em;
    margin: .5em;
}

.card>img {
    width: 15;
    height: 15;
    object-fit: cover;
    border-radius: 1em;
}

/* .card>button {
    position: relative;
    left: 50%;
    bottom: -4%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
} */

/* button {
    border: none;
    border-radius: .5em;
    background-color: black;
    color: white;
    padding: 1em;
} */