/* For page itself */
.parent-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* For containers in the page */
.child-container {
    background-color: var(--container);
    box-shadow: var(--shadow);
    margin: 1em;
    padding: 1em;
}

/* For listings in the search or similar card base displays */
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
}

.card {
    flex: 0 1 15em;
    margin: .5em;
}

.card>div {
    text-align: left;
}

.rating-span {
    display: flex;
    justify-content: space-between;
}

.icon-container {
    display: flex;
}

.icon-container:last-child {
    margin-left: auto;
}

.framed-component {
    border: solid 1px var(--accent);
    border-radius: 1em;
    padding: .5em;
    margin: .2em;
    width: 10em;
}

/* .card>button {
    position: relative;
    left: 50%;
    bottom: -4%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
} */

/* button {
    border: none;
    border-radius: .5em;
    background-color: black;
    color: white;
    padding: 1em;
} */