
.container-main {
    display: flex;
    justify-content: center;
}

.container-parent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container-children {
    flex: 0 1 25em;
    flex-direction: column;
    height: 25em;
    margin: 5px;
}