.form {
    display: flex;
    justify-self: flex-start;
    margin-bottom: 1em;
}

.form-items {
    display: flex;
    justify-self: start;
    align-items: baseline;
}

/* .input {
    width: 160px;
} */

.label {
    display: inline;
}

.label, .input {
    text-align: left;
    line-height: 35px;
    height: 35px;
    margin-bottom: 5px;
    margin-right: .5em;
    width: max-content;
}

