:root {
  --accent: #3DB2FF;
  --success: rgb(0, 147, 0);
  --fail: rgb(253, 35, 35);
  --shadow: 0 1px 8px rgb(0, 0, 0);
  --test: rgba(0, 96, 128, 0.362);
}

* {
  margin: 0;
  padding: 0;
}

.App {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  line-height: 1.5em;
}

h1 {
  font-weight: 900;
}

h2 {
  font-weight: 500;
}

h3 {
  font-weight: 300;
}

p {
  font-weight: 300;
}

a {
  text-decoration: none;
  color: black;
  font-weight: 300;
}

li {
  list-style: none;
}

.test {
  background-color: var(--test);
  border: solid .5px red;
}
